
body{
                background-color: rgb(166, 196, 166);
            }
            #test, #mag, #eletkor{
              width:110px;
            }
            .active{
              background-color:burlywood;
            }
            #no, #ferfi{
              caret-color: transparent;
            }
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #D6EEEE;
            }
            #noTabla, #ferfiTabla {
                display: none;
              }
              .tabla1, .tabla2{
                text-align: center;
              }
              #test, #mag, #eletkor{
                font-family:Lucida;
            font-style: italic;
            font-size: 15px;
            
              }
              #noTabla, #ferfiTabla,  #tomeg, #magas, #elet, #neme, #szamitas{
                font-family:Lucida;
                font-style: italic;
                font-size: 18px;
              }
              .BMIszoveg{
                font-family:Lucida;
                font-style: italic;
                font-size: 18px;
                
              }
              p{
                font-family:Lucida;
                font-style: italic;
                font-size:20px;
              }
              h2{
                font-family:Lucida;
                font-style: italic;
                text-shadow: 2px 2px 4px #888;
              }
              .bmiEredmeny{
                width:200px;
                height:200px;
                background-color: bisque;
              }
              /*.circle {
                width: 100px;   
                height: 100px;  
                background-color: blue; 
                border-radius: 50%; 
              }  */

              .nem-label{
                margin-left: 8px;
                font-family:Lucida;
                  font-style: italic;
                  font-size:20px;
              }