

body{
                background-color: rgb(166, 196, 166);
            }
            
            #test, #mag, #eletkor, #fizikaiakt{
              width:110px;
              font-family:Lucida;
              font-style: italic;
              font-size: 15px;
            }
            
            p, h2, h3, pre, li{
              font-family:Lucida;
              font-style: italic;
              font-size: 20px;
              
            }
            h2{
              text-shadow: 2px 2px 4px #888;
            }
            
             #tomeg, #magas, #elet, #eredmenyDoboz{
              font-family:Lucida;
              font-style: italic;
              font-size: 20px;
            }
            
            #szamitas{
              position: relative;
              background-color: #075b3b;
              border: none;
              font-size: 18px;
              color: #FFFFFF;
              padding: 10px;
              width: 200px;
              text-align: center;
              -webkit-transition-duration: 0.4s; /* Safari */
              transition-duration: 0.4s;
              text-decoration: none;
              overflow: hidden;
              font-family:Lucida;
              font-style: italic;
            }
            
                 
            #eredmenyDoboz{
              padding:20px;
            }
            
            .nem-label{
              margin-left: 8px;
            font-family:Lucida;
              font-style: italic;
              font-size:20px;
            }
            label{
              font-family:Lucida;
              font-style: italic;
              font-size:20px;
            }
            