
.oszlop-1{
                text-align: justify;
            }
            .Kalória-Boom{
                text-align: center;
            }
            body{
                padding: 10px;
                background-color:  rgb(166, 196, 166);
                font-family:Lucida;
                font-style: italic;
                font-size: 20px;
            }
          
            
            .regisztracios_sor{
                text-align: right;
            }
            
            button{
                color:white;
                background-color: rgb(42, 56, 42);
                font-family:Lucida;
                font-style: italic;
                font-size: 16px;
                width:140px;  
                margin: 25px;  
            }
            
              .betuk {                  
                display: flex; /* Flexbox elrendezés használata */
                font-size: 110px;
                font-family:Lucida;
                font-style: italic;
                justify-content: center; /* Szöveg vízszintesen középre igazítása */
               /* align-items: center;  Szöveg függőlegesen középre igazítása 
                width: 100%; /* A tartalom teljes szélessége 
                height: 100vh; /* teljes ablakmagasság (viewport height) */
                letter-spacing: 5px; /* Betűk közötti távolság növelése */
                background: linear-gradient(to top, rgb(0, 0, 0), rgb(104, 178, 104));
                -webkit-background-clip: text; /* Háttér-kihagyás a betűk számára */
                color: transparent; /* Betűszín átlátszóvá tétele */
                font-weight: bold; /* Betűvastagság növelése */           
              }
            
            .menuk{
                text-align:center;   
               
            }
            
            /* ezzel jelenik meg a legördülő ablak*/
             .menuk:hover .content {                         
              display: block;
            } 
            
            .content {                                        /* legördült ablak stílusa*/
                display: none;
                position: absolute;
                background-color: #fff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                z-index:0;
            }
            .content a {
                color: white;
                padding: 0px 30px;
                text-decoration: none;                        /* leveszi a linkekről az aláhúzást */  
                display: block;
                background-color: rgb(42, 56, 42);
              }
              
              .content a:hover {background-color: #274d45}  /* a legördült ablakokban kijelölt elemek  szine megváltozik*/

              .footer-content{
                background-color: black;
                height:200px;
          
              }
              hr{              
            /* 
                border-style: dashed;  : szaggatott vonalstílus */
               border-color: #2c473b;  
                border-width: 3px;    /*   5 képpont vastagságú vonal */
                
              }

              .szoveg3{
                color: rgb(42, 56, 42);
                font-variant-emoji:emoji;
                font-weight: bold;
                font-size:20px;
              }
              h2{
                text-shadow: 2px 2px 4px #888;   /* szürkés árnyék*/
              }
              
            .sor5{
              color: rgb(42, 56, 42);            
              font-size:18px;
              font-family:Lucida;
              font-style: italic;
             font-weight:lighter;

            }
            
            .smiley-container {
              display: flex;
          }
  
          .smiley {
              font-size: 36px;
              margin-right: 10px;
              opacity: 0; /* Kezdeti átlátszóság, hogy ne látszanak */
              transition: opacity 1s ease-in-out; /* Átlátszóság átmenet */
          }

          .gondolatjelesSzoveg{
            font-weight: bold;
          }
         
          @media screen and (min-width: 600px){
            .betuk{
              display:flex;

            }
            .conatiner3{
              display:flex;
            }

          }
          