#forum {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }

  #comments-container {
    margin-bottom: 20px;
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }

  .comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }


  #add-comment {
    display: flex;
    flex-direction: column;
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }

  textarea {
    margin-bottom: 10px;
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }
  .post-comment {
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }

  body {
    background-color: rgb(166, 196, 166);
    font-family: Lucida;
    font-style: italic;
    font-size: 20px;
  }
  .hullogyumik {
    margin: 0;
    overflow: hidden;
    background-color: rgb(166, 196, 166);
  }

  #gyumolcsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  body {
    margin: 0;
    overflow: hidden;
  }

  #container5 {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .falling-fruit {
    position: absolute;
    font-size: 24px;
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;
  }

  .enlargable {
    font-size: 48px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .enlarged {
    transform: scale(0.1);
  }

  #gyumi {
    position: absolut;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }

  .fentigyumolcs {
    display: flex;
    justify-content: center;
    align-items: center;
  }