html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin: 80px 10px 10px 10px; /* bottom = footer height */
    font-family: 'Montserrat', sans-serif !important;
    max-width: 100%;
    /* background-image: url("../images/background.png"); */
    background-size: cover;
    background-color: rgb(166, 196, 166);
    color:  rgb(42, 56, 42);
;
}

.navbar {
    position: fixed;
    top: 10px;
    width: 99%;
    z-index: 99;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 50%;
}

.dark-green {
    background-color:  rgb(42, 56, 42);
}

.nav-bg-picture {
    background-image: url("../images/background.png");
    background-size: cover;
}

.light-green {
    background-color: rgb(3, 252, 240);
}

.light-blue {
    background-color: rgb(116, 145, 227);
    color: rgb(225, 229, 240);
}

.light-red {
    background-color: rgb(227, 64, 64);
    color:white;
}

.green {
    background-color: #28a745;
    color: aliceblue;
}

#active-users {
    list-style-type: none;
}

.row {
    margin-bottom: 50px;
}


