
.container {
                    /* display: flex; */
                }
                
                .gyumi {
                    margin: 0;
                    overflow: hidden;
                }
                
                #container5 {
                    position: relative;
                    width: 50vw;
                    height: 100vh;
                }
                
                .falling-fruit {
                    position: absolute;
                    pointer-events: none;
                    animation: fall linear forwards;
                }
                
                @keyframes fall {
                    to {
                        transform: translateY(2000%);
                        opacity: 0;
                    }
                }
                
                .rezgosmile {
                    width: 20vw;
                    height: 40vh;
                    transition: transform 0.5s ease-in-out;
                }
                
                .rezgosmile.enlarged {
                    transform: scale(1.2);
                }
                main {
                    margin-top: 40px;

                }