<!DOCTYPE html>
<html lang="hu">
<head>
    <br><br>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script src = "static/BMR.js"></script> 
    <script src="static/BMR_legordulomenuk.js"></script>
    <script src = "static/BMR_idoScript.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="static/BMR.CSS">
    <title>BMR számláló</title>
</head>
<body>
    

<hr>

<div class = "container">
  <div class = "row">
    <div class = col-sm-2></div>
      <div class = col-sm-8>

        <h2><b><u>Mi a BMR?</u></b></h2>
        <br>
          <p>A BMR, vagyis a Basal Metabolic Rate alapanyagcserét jelent. Ezen az oldalon kiszámolhatod, azt az  energiamennyiséget  vagyis kalóriát,  amit a szervezet pihenés 
       (tehát mindenfajta fizikai megterhelés nélkül) közben az élettani funkcióinak fenntartása miatt éget el. Ez a mennyiség teszi ki a 
       napi kalóriaszükségletünk 60-70%-át.</p>
       <p>Továbbá azt is megtudhatod, miután beírtad a leadni kívánt kiló mennyiségét, hogy mennyi idő alatt tudsz tőle megszabadulni, ha napi középszintű testmozgást végzel. </p>

       <h4><p><b>Adatok:</b></p></h4>
          <br>
         <label>Válassz nemet:</label>
         <span class="nem-label" >nő</span>
          <button  id = "no"  onclick="setNem('no')" <span style='font-size:20px;'>&#128105;</span> </button> 
          <span class="nem-label">férfi</span> 
         
          <button  id = "ferfi" onclick="setNem('ferfi')" <span style='font-size:20px;'>&#128104;</span> </button>
             
          <br><br>
          <label for="testtomeg" id = "tomeg">(Testtömeg 40 - 150 között)</label>              
          <input type="number"   id = "test"  placeholder = "Testtömeg /kg" min = "40" max = "150" >  <br><br> <!-- placeholder = helyőrző szöveg -->
          <label for="magassag"  id = "magas">(Magasság  100 - 220 között)</label>          
          <input type="number"   id = "mag"   placeholder = "Magasság /cm" min = "100" max = "220">  <br><br> 
          <label for="eletkor"   id = "elet">(Életkor  18 - 100 között)</label> 
          <input type="number"   id = "eletkor" placeholder = "Életkor /év" min = "18" max = "100"> <br><br>              
      <hr>
      <p><b>Válassz a napi, fizikai aktivitások közül, amelyek befolyásolják a BMR eredményét:</b> </p>
      <br>

      <p><b>Ülő életmód:</b> ha egyáltalán nem sportolsz vagy minimális aktivitás jellemző.</p>
      <p><b>Enyhén aktív életmód: </b> hetente 1x-2x végzel könnyebb testmozgást.</p>
      <p><b>Közepesen aktív életmód: </b> hetente 3x-5x végzel könnyebb testmozgást.</p>
      <p><b>Aktív életmód: </b> napi szinten sportolsz intenzíven.</p>
      <p><b>Nagyon aktív életmód: </b>  naponta többször is végzel nagyon intenzív testmozgást.</p>
      <br><br>
      </div>
      <div class = col-sm-2>
  </div>
</div>          

<div class = "container">
  <div class = "row">

    <div class = col-sm-6>
       
          <div class="dropdown">
            <label>Fizikai aktivitásod:</label>
              <select id = "tartalom"class="dropdown-content">
                <option  value = "ulo">Ülő életmód</option>
                <option  value = "enyhe">Enyhén aktív életmód</option>
                <option  value = "kozepes">Közepesen aktív életmód</option>
                <option  value = "aktiv">Aktív életmód</option>
                <option  value = "naktiv">Nagyon aktív életmód</option>  
              <select>
          </div> 
    </div>
    <br><br>
    <div class = "col-sm-6">        
          <button onclick = "bmrSzamitas()" id = "szamitas" class = "szamitas">BMR kiszámítása</button>
           
          <p id = "noBmr"></p>   
          <p id = "ferfiBmr"></p> 
          <p id = "noeredmeny"></p>
          <p id = ferfieredmeny></p>
           <textarea id="eredmenyDoboz" rows="1" cols="35" readonly></textarea>  
           <br> <br> 

    </div>                           
  </div>

<hr>
<br> 

  <h1><b><u>Fogyás-dátumkalkulátor</u></b></h1>
  <br><br>
  <label for="leadniKivantKg">Leadni kívánt súly 0-100 között (kg):</label>
  <input type="number" id="leadniKivantKg" placeholder="Lead/kg" min="0" max="100">
  <button id="idoGomb" onclick="idoKalkulacioGomb()">Kalkuláció</button>
  <br><br>
  <p>Az elérési dátum: <u><b> <span style="font-size:25px;"  id="datumEredmeny"></b></u></span></p>

  <br><hr><br>
<p>Vissza a főoldalra katt <a href="index.html" target="_blank">[ide]</a></p>

<br>
</body>
</html>