<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="forum.js"></script>
    <link rel="stylesheet" href="forum_styles.css">
    <title>Fórum </title>
</head>
<body>
<br><br>
    <div class = "container">
    <div class = "row">
    <div class = col-sm-1></div>
    <div class = col-sm-10>
<h2>Számunkra fontos a véleményed és az olyan információk, amelyek hasznosak lehetnek mások számára.</h2> 
<h2>Megoszthatsz saját recepteket, ötleteket és kérdezhetsz bátran közösségi oldalunkon. 
    
</h2>



          <div id="forum">
              <div id="comments-container"></div>

                  <div id="add-comment">
                   <textarea id="comment-text" placeholder="Írj egy véleményt..."></textarea>
                   <button id="post-comment">Vélemény elküldése</button>
                  </div>
               </div>
           </div>
    </div>

    <p>Vissza a főoldalra katt<a href="index.html" target="_blank"> [ide]</a></p>
    <div class = col-sm-1></div>
</div>
<script src="script.js"></script>



</body>
</html>