{% extends 'base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/fooldal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/smiley.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock css %}  

{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block body %}

  <!--  <div class="regisztracios_sor">
         
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required> 
                 
              <label for="password">Jelszó:</label>
              <input type="password" id="password" name="password" required>  
             -->
       <!-- <button type="bejelentkezes">Bejelentkezés</button> -->
        <!-- <button  onclick="regisztracio()" title="Regisztráció">Regisztráció</button>    
        <button  onclick="jelszo()" title="Jelszó">Elfelejtett jelszó</button>   
      </div> -->
    
        
    
        <div class="container">
                    <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-12">                        
        <div class = "betuk">  
            <div>Kalória</div>
            <div class="conatiner3">-B
    
            <div class = "boom">
              <div class=body1>
                <div class="smiley-tarolo1">
                  <div class="fej1"></div>
                  <div class="szem1-1"></div>
                  <div class = "szemgolyo1-1"></div>
                  <div class="szem1-2"></div>
                  <div class = "szemgolyo1-2"></div>
                  <div class="szaj1"></div>
                  <div class= "gorbeszaj1-1"></div>
                  <div class= "gorbeszaj1-2"></div>
                  <div class= "gorbeszaj1-3"></div>
                  <div class = "kanoc1"></div>
                  <div class=" kanocto1"></div>
                </div>        
              </div>
            </div>
            <div class = "boom">
              <div class=body2>
                <div class="smiley-tarolo2">
                  <div class="fej2"></div>
                  <div class="szem2-1"></div>
                  <div class = "szemgolyo2-1"></div>
                  <div class="szem2-2"></div>
                  <div class = "szemgolyo2-2"></div>
                  <div class="szaj2"></div>
                  <div class="szaj2-2"></div>
                  <div class = "kanoc2"></div>
                  <div class=" kanocto2"></div>           
                </div>
              </div>       
            </div>     
            m   
        </div> 
        </div>
        <div class="col-sm-1"></div>  
        </div>     
        </div>
        </div>
        <hr>               
        <div class="menuk" >
          <button onmouseenter="mouseEnteredCalculator()" onmouseleave="mouseLeavedCalculator()">Kalóriatáblázat
            <!-- belépés egérrel a kalóritáblázatot tartlamazó oldalakra -->
             <div class="content" id="tableContent">
              <a href="{% url 'kaloriatabla' %}">Kalóriatábla</a>
             </div>
           </button>    
    
    <!--   <button onclick="kaloriatablaGomb()">Kalóriatáblázat</button> 
    
        <script> function kaloriatablaGomb(){
           
           windows.location.href="kaloriatabla.html";
        }
          </script> -->
        
        <button onmouseenter="mouseEnteredCalculator2()" onmouseleave="mouseLeavedCalculator2()">Kalkulátor
         <!-- belépés egérrel a kalkulációt tartlamazó oldalakra -->
          <div class="content" id="kalkulatorContent">
              <a href="BMI.html" target="_blank">BMI számláló</a>     
              <a href="BMR.html" target="_blank">BMR számláló</a>
             <a href="BMR szuk.html" target="_blank">BMR szükséglet</a>   
          </div>
        </button>    
        
                    
    </div>        
         
      <!--  </button>
        <button onclick="forum()" >Fórum</button>
        </div> -->
    
        <br> 
    <div class = "container">
      <div class = "row">                      
          
          <h2><b><u>Kedves Olvasó</u></b></h2>
    <br><br><br><br>
            <p>Ez az oldal lehetőséget nyújt arra, hogy felmérd testsúlyod jelenlegi állapotát. A BMR kiszámolásával megtudhatod, hogy naponta hány kalóriát viszel be a szervezetedbe és mennyit égetsz el. Míg a BMI eredményed azt mutatja meg, hogy mennyi az a minimális kalóriamennyiség, amit be kell vinned a szervezetedbe ahhoz, hogy az egészséged megőrzése mellett el tudd érni a kitűzött célodat. Továbbá azt is kiszámolhatod, hogy a kívánt kilóktól mennyi idő alatt tudsz megszabadulni. </p>
             <p>Bizonyára már számtalan cikket olvastál vagy hallottál a fogyókúrás módszerekről, s talán volt, hogy már elhatároztad magad, de még nem sikerült komolyabb eredményt elérned. Ha figyelemmel követed tanácsainkat, rövid időn belül magad is megtapasztalhatod a jelentős változást.</p>
            
            <p>Első lépésként mindenképp érdemes elolvasni az alábbi információkat, melyek további segítséget nyújthanak a sikeres fogyókúra érdekében. </p>
            <br><br><br>
        <hr>
        
      </div>
    </div> 
    
    <div class = "container">
      <div class = "row">    
          <div class = "col">
    <br>
        <div class="szoveg3">             
    
    <div id="lineContainer"></div>
    <script>
      const lines = [ "- Vedd figyelembe, hogy mennyi az a testtömeg, ami normális idő és fogyás arányát tekintve, természetes úton, betegség nélkül elérhető.",
          "- Figyelj a bevitt kalóriára, amelyhez tudod használni a kalóriatáblázatot is.",
          "- A folyadékbevitel (tiszta víz) átlagosan 2-2,5 liter/nap",
          "- A jojó effektust elkerülve ne akarj gyorsan lefogyni.  Az ajánlott fogyás mértéke maximum 1kg/hét.",
          "- Ne koplalj, mert legelőször az izomból veszítesz, ezt követően pedig megjelenik a rosszullét és más egyéb kellemetlen tünet.",
          "- Figyelj a napi mozgásra, ami a fogyókúra  20-30 %-át teszi ki.",
          "- A felborult, megváltozott körülmények miatt figyelj a pihensére is, amíg be nem áll a napi rutinod. "
        ];
    
      // Függvény a sorok késleltetett megjelenítéséhez
      function displayLinesWithDelay() {
              const lineContainer = document.getElementById("lineContainer");
    
              // Végigiterálok a sorokon
              lines.forEach((line, index) => {
                  // Idő beállítása  a megfelelő késleltetéssel
                  setTimeout(() => {
                      // egy div elem létrehozása  sorral
                      const div = document.createElement("div");
                      div.textContent = line;
    
                      // Konténerhez adom
                      lineContainer.appendChild(div);
    
                      // a nem utolsó sorhoz, gondolatjel hozzáadása
                      if (index < lines.length - 1) {
                          const br = document.createElement("br");
                          lineContainer.appendChild(br);
                      }
                  }, index * 2500); // 2500 ms (2,5 másodperc) késleltetés minden sor után
              });
            }
    
          // Függvény meghívása
          displayLinesWithDelay();
      </script>
    <br>
    
    <p class="sor5">  <div class="smiley-container">
      <div class="smiley">&#127939;</div>
      <div class="smiley">&#128692;</div>
      <div class="smiley">&#127946;</div> 
      <div class="smiley">&#127938;</div> 
      <div class="smiley">&#128675;</div> 
      <div class="smiley">&#127947;</div>  </p>
    
      <script>
     document.addEventListener("DOMContentLoaded", function() {
                const smileys = document.querySelectorAll(".smiley");
    
                // végigiterálok a mosolygókon
                smileys.forEach((smiley, index) => {
                    // időzítő beállítása
                    setTimeout(() => {
                        smiley.style.opacity = 1; //  átlátszóságot beállítása 1-re, hogy megjelenjenek
                    }, index * 3000); // 3000 ms (3 másodperc) késleltetés minden mosolygó után
                });
            });
    
      </script>
    </div>
      </div>       
          </div>
    
    Katt 
    
          <div class = "col-md-6"> 
            <div class="container">
             
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  const container = document.getElementById('container5');
                  const image = document.getElementById('rezgosmile');
            
                  function createFruit() {
                    const fruits = ['🍎', '🍌', '🍇', '🍓', '🍊', '🍑', '🍍', '🍉', '🍒','🍈',
                     'Pihenés', 'Vízfogyasztás', 'Futás', 'Fehérje', 'A-vitamin', 'B-vitamin', 'C-vitamin',
                      'D-vitamin', 'E-vitamin','K-vitamin', 'Ásványi anyagok', 'Alvás', 'Kalóriaszámlálás', 
                      'Gyaloglás', 'Úszás', 'Kevés szénhidrát', 'Diéta'];
                    const randomFruit = fruits[Math.floor(Math.random() * fruits.length)];
            
                    const fruitElement = document.createElement('div');
                    fruitElement.className = 'falling-fruit';
                  
                    fruitElement.innerHTML = randomFruit;
            
                    container.appendChild(fruitElement);
            
                    setTimeout(() => {
                      fruitElement.style.animationDuration = `${Math.random() * 3 + 3}s`;
                      fruitElement.style.left = `${Math.random() * 10}vw`; 
                      fruitElement.style.opacity = 1;
                      fruitElement.style.transform = 'translateY(100%)';
                    }, 1);
                  }
            
                  container.addEventListener('click', createFruit);
            
                  image.addEventListener('mouseover', function() {
                    image.classList.add('enlarged');
                    createFruit();
                  });
            
                  image.addEventListener('mouseout', function() {
                    image.classList.remove('enlarged');
                    createFruits(20);
                  });
                });
              </script>
    <div class ="container">
              <div class="gyumi" id="container5"></div> 
            <img id="rezgosmile" src="{% static 'images/projekt smile 1.png' %}" alt="mosolygós smile" class="rezgosmile"> 
            </div>
            </div>
          </div>
        </div><br><hr>
      </div>
    </div>
    <hr>

{% endblock %}