{% extends 'base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/kaloriatabla.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaloriatabla.smiley.css' %}">
    <script defer src="{% static 'js/kaloriatabla.js' %}"></script>

    

{% endblock css %}  

{% block title %}Kalória Boom | {{ title }}{% endblock %}

{% block body %}

<div class = "menuk">
    <button onmouseenter="mouseEnteredCalculator()" onmouseleave="mouseLeavedCalculator()">Kalóriatáblázat
    <!-- belépés egérrel a kalóritáblázatot tartlamazó oldalakra -->
    <div class="content" id="tableContent">
        <a href="kaloriatabla.html">Kalóriatáblázat</a>                  
    </div>
    </button>  

    <button onmouseenter="mouseEnteredCalculator()" onmouseleave="mouseLeavedCalculator()">Kalkulátor
    <!-- belépés egérrel a kalkulációt tartlamazó oldalakra -->
    <div class="content" id="kalkulatorContent">
       <a href="BMI.html" >BMI számláló</a>     
       <a href="BMR.html" >BMR számláló</a>
       <a href="BMR szuk.html" >BMR szükséglet</a>   
    </div>
   </button> 
</div> 
</div>
</div>
<hr>

<h1><b><u>Ételek kalóriatáblázata</u></b></h1>


<div class=" container">
<div class="row">
<div class="col-sm-0.5"></div>
<div class="col-sm-11">
<!-- <button id="loadDataButton">Adatok Betöltése</button> -->


<br><br>
<select  class= "tipuskivalasztogomb" name="valaszt" id="valaszt">          
 <option value="gabona">Gabona</option>
 <option value="allati">Állati eredetű</option>
 <option value="huskeszitm">Húskészítmények</option>
 <option value="teszta">Tészta</option>
 <option value="pekaru">Pékáru</option>
 <option value="zoldseg">Zöldség</option>
 <option value="gyümölcs">Gyümölcs</option>
 <option value="tejtermek">Tejtermék</option>
 <option value="mag">Magvak</option>
 <option value="zsirolaj">Zsírok-olajok</option>
 <option value="udito">Üdítő italok</option>
 <option value="alkoholos">Alkoholos italok</option>
</select>
<button class="adatkeresogomb" id="searchButton">Adatok Keresése</button>
<br><br><br>

<table id="adatok-táblázat">
 <!-- A betöltött adatok jelennek majd meg itt -->
</table>
<h1>Keresés <span  id="keresettTipus"></span> típusra.</h1>
<table  id="keres-tablazat">   
</table>
<hr>        
</div>
<div class="col-sm-0.5"></div>

</div>
</div>  

<p>Vissza a főoldalra, katt <a href="{% url 'index' %}" >[ide]</a></p>

{% block footer_scripts %}

<script  src="{% static 'js/kaloriatabla_formazas.js' %}"></script>
<script  src="{% static 'js/etel.js' %}"></script>

{% endblock footer_scripts %}

</body>

{% endblock %}


      