{% extends 'base.html' %}

{% block title %}Kalória-Boom | Regisztráció{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container px-4'>

        <div class='d-flex justify-content-center'>
            <h3>Regisztráció</h3>
        </div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div class='row'>
            <div class='col-lg-6 offset-lg-3'>
                <div class='card bg-secondary mb-3'>
                    <div class='card-body'>
    
                        <div class='form-group'>

                            <form action="{% url 'register' %}" method='POST'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <label for='inputUsername' class='form-label mt-4'>
                                        Felhasználónév
                                    </label>
                                    <input type='text' name='username' class='form-control' id='inputUsername' placeholder='Írja be a felhasználónevet!' autofocus>
                                </div>

                                <div class='form-group'>
                                    <label for='inputEmail' class='form-label mt-4'>
                                        E-mail cím
                                    </label>
                                    <input type='email' name='email' class='form-control' id='inputEmail' placeholder='Írja be az email címét!'>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword1' class='form-label mt-4'>
                                        Jelszó
                                    </label>
                                    <input type='password' name='password' class='form-control' id='inputPassword1' placeholder='Jelszó'>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword2' class='form-label mt-4'>
                                        Jelszó megerősítése
                                    </label>
                                    <input type='password' name='confirmation' class='form-control' id='inputPassword2' placeholder='Jelszó megerősítése'>
                                </div>

                                <div class='form-group mt-4'>
                                    <button type='submit' class='btn btn-primary'>
                                        Regisztráció
                                    </button>
                                </div>

                            </form>

                            <div class='mt-2'>
                                Már van felhasználói fiókja? <a href="{% url 'login' %}" type='button' class='btn btn-link'>
                                    Belépés
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}