<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/fooldal_SMILE.css">
    <title>SMILE</title>
</head>
<body>

    <div class = "boom">
    <div class=body1>
        <div class="smiley-tarolo1">
          <div class="fej1"></div>
          <div class="szem1-1"></div>
          <div class = "szemgolyo1-1"></div>
          <div class="szem1-2"></div>
          <div class = "szemgolyo1-2"></div>
          <div class="szaj2"></div>
          <div class="szaj2-2"></div>
          <div class ="kanoc1"></div>
          <div class=" kanocto1"></div>
        </div>        
      </div>   
    </div>   
    <div id="image-container">
        <img id="image" src="static/projekt smile 1.png" alt="Rezgőkép">
    </div>

    <script>
        // Amikor az oldal betöltődik
        document.addEventListener("DOMContentLoaded", function() {
            // Csatlakozás az ablak görgetési eseményéhez
            window.addEventListener("scroll", function() {
                // Számold ki az ablak függőleges görgetési pozícióját
                let scrollPosition = window.scrollY;

                // Állítsd be a kép-container felső távolságát a negatív görgetési pozícióra
                document.getElementById("image-container").style.top = -scrollPosition + "px";
            });
        });
    </script>        
</body>
</html>