{% extends 'base.html' %} {% load static %} {% block css %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/kaloriatabla.css' %}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fooldal_SMILE.css' %}"/>
<script defer src="{% static 'js/kaloriatabla.js' %}"></script>

{% endblock css %} 

{% block title %}Kalória Boom | {{ title }}{% endblock %} 

{% block body %}

<div class="boom">
  <div class="body1">
    <div class="smiley-tarolo1">
      <div class="fej1"></div>
      <div class="szem1-1"></div>
      <div class="szemgolyo1-1"></div>
      <div class="szem1-2"></div>
      <div class="szemgolyo1-2"></div>
      <div class="szaj2"></div>
      <div class="szaj2-2"></div>
      <div class="kanoc1"></div>
      <div class="kanocto1"></div>
    </div>
  </div>
</div>
<div id="image-container">
  <img
    id="image"
    src="{% static 'images/projekt smile 1.png' %}"
    alt="Rezgőkép"
  />
</div>

{% block script %}

<script>
  // Amikor az oldal betöltődik
  document.addEventListener("DOMContentLoaded", function () {
    // Csatlakozás az ablak görgetési eseményéhez
    window.addEventListener("scroll", function () {
      // Számold ki az ablak függőleges görgetési pozícióját
      let scrollPosition = window.scrollY;

      // Állítsd be a kép-container felső távolságát a negatív görgetési pozícióra
      document.getElementById("image-container").style.top =
        -scrollPosition + "px";
    });
  });
</script>

{% {% endblock %} %}

<p>Vissza a főoldalra, katt <a href="{% url 'index' %}">[ide]</a></p>

 {% endblock %}

